/* Center the main content */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the main container of the form */
.register-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

/* Style for labels in the form */
.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;

}

/* Style for inputs in the form */
.register-container input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3897f0;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  width: 86%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #267abf;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin: 10px 0;
  font-weight: bold;
  font-size: 15px;
}

.label-text {
  padding-left: 20px;
  /* 或使用margin-left，根据您的需要调整这个值 */
}